doctype html
html
    head
        title Oh My Green
        meta(name='HandheldFriendly', content='True')
        meta(name='MobileOptimized', content='320')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        style(type='text/css').
            @font-face {
            font-family: 'Brandon Text';
            src: url("http://zenbox.ohmygreen.com/fonts/BrandonText-Bold.otf") format('opentype');
            font-weight: 600;
            }
            @font-face {
            font-family: 'Brandon Text';
            src: url("http://zenbox.ohmygreen.com/fonts/BrandonText-Medium.otf") format('opentype');
            font-weight: 500;
            }
            @font-face {
            font-family: 'Brandon Text';
            src: url("http://zenbox.ohmygreen.com/fonts/BrandonText-Regular.otf") format('opentype');
            font-weight: 400;
            }
            @font-face {
            font-family: 'Brandon Text';
            src: url("http://zenbox.ohmygreen.com/fonts/BrandonText-Light.otf") format('opentype');
            font-weight: 300;
            }
            @font-face {
            font-family: 'Gotham Condensed';
            src: url("http://zenbox.ohmygreen.com/fonts/GothamCondensed-Regular.otf") format('opentype');
            font-weight: 400;
            }
            body {
            font-family: "Brandon Text", sans-serif;
            color: #222;
            margin: 0;
            }
            .wrapper {
            position: relative;
            background-color: #0EAF27;
            width: 2060px;
            height: 1500px;
            margin: 0 auto;
            padding-right: 40px;
            }
            .wrapper .header {
            display: table;
            width: 100%;
            background-image: linear-gradient(to right, rgb(0,0,0), rgba(0,0,0,0), rgba(0,0,0,0)), url("https://s3-us-west-2.amazonaws.com/zenbox-media/home-header@2x.jpg");
            background-image: -webkit-linear-gradient(to right, rgb(0,0,0), rgba(0,0,0,0), rgba(0,0,0,0)), url("https://s3-us-west-2.amazonaws.com/zenbox-media/home-header@2x.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 750px;
            }
            .wrapper .header .title {
            display: table-cell;
            vertical-align: middle;
            padding: 0 220px 60px 80px;
            }
            .wrapper .header .title span {
            display: block;
            color: #FFF;
            text-transform: uppercase;
            }
            .wrapper .header .title .meal-type {
            font-size: 3em;
            font-weight: 600;
            }
            .wrapper .header .title .meal-name {
            font-size: 8em;
            font-weight: 300;
            line-height: 1.2;
            }
            .wrapper .header .title .meal-name.sub {
            font-size: 4em;
            }
            .wrapper .content {
            background-color: #fff;
            height: 750px;
            position: relative;
            z-index: 2;
            }
            .wrapper .content:before {
            background: inherit;
            content: '';
            display: block;
            height: 50%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: -1;
            -webkit-backface-visibility: hidden;
            transform-origin: 0;
            transform: skewY(-5deg);
            -webkit-transform-origin: 0;
            -webkit-transform: skewY(-5deg);
            }
            .wrapper .content .sections {
            margin-right: 200px;
            padding-top: 80px;
            padding-left: 80px;
            }
            .wrapper .content .sections .section {
            display: inline-block;
            float: left;
            }
            .wrapper .content .sections .section.left {
            width: 43%;
            }
            .wrapper .content .sections .section.right {
            margin-left: 80px;
            padding-left: 80px;
            border-left: 1px solid #ccc;
            width: 47%;
            }
            .wrapper .content .sections .section .title {
            font-size: 3em;
            text-transform: uppercase;
            font-weight: 600;
            }
            .wrapper .content .sections .section p {
            font-size: 36px;
            font-weight: 400;
            }
            .wrapper .content .sections .section ul {
            padding: 0;
            list-style: none;
            }
            .wrapper .content .sections .section ul li {
            display: inline-block;
            background-color: #373739;
            border-bottom-width: 8px;
            border-bottom-style: solid;
            margin-right: 20px;
            margin-bottom: 20px;
            padding: 15px 0;
            text-transform: uppercase;
            min-width: 250px;
            text-align: center;
            font-size: 1.75em;
            }
            .nut {
            color: #CCCB9B;
            border-bottom-color: #CCCB9B;
            }
            .soy {
            color: #CDFD70;
            border-bottom-color: #CDFD70;
            }
            .vegan {
            color: #3CCA3E;
            border-bottom-color: #3CCA3E;
            }
            .dairy {
            color: #CCC;
            border-bottom-color: #CCC;
            }
            .wheat {
            color: #FC673D;
            border-bottom-color: #FC673D;
            }
            .gluten {
            color: #FFFD71;
            border-bottom-color: #FFFD71;
            }
            .paleo {
            color: #FC0D1B;
            border-bottom-color: #FC0D1B;
            }
            .egg {
            color: #FDBF2D;
            border-bottom-color: #FDBF2D;
            }
            .wrapper .brand {
            background-color: #373739;
            position: absolute;
            top: 0;
            right: 40px;
            z-index: 3;
            height: 100%;
            width: 200px;
            }
            .wrapper .brand img {
            position: absolute;
            bottom: 300px;
            left: 50px;
            width: 100px;
            }
    body
        .wrapper
            .header(style={"background-image": "linear-gradient(to right, rgb(0,0,0), rgba(0,0,0,0), rgba(0,0,0,0)), url('" + image_url + "')"})
                .title
                    if type
                        span.meal-type #{type}
                    span.meal-name #{title}
                    if line_2
                        span.meal-name #{line_2}
                    if subtitle
                        span.meal-name.sub #{subtitle}
            .content
                .sections
                    .section.left
                        .ingredients
                            span.title Ingredients
                            p #{ingredients}
                    .section.right
                        .allergens
                            if catering === "label"
                                span.title Allergens
                            p #{allergens}
                            ul
                                if nut && nut.toLowerCase() === "x"
                                    li.allergen.nut Nut Free
                                if wheat && wheat.toLowerCase() === "x"
                                    li.allergen.wheat Wheat Free
                                if soy && soy.toLowerCase() === "x"
                                    li.allergen.soy Soy Free
                                if vegan && vegan.toLowerCase() === "x"
                                    li.allergen.vegan Vegetarian
                                if dairy && dairy.toLowerCase() === "x"
                                    li.allergen.dairy Dairy Free
                                if gluten && gluten.toLowerCase() === "x"
                                    li.allergen.gluten Gluten Free
                                if paleo && paleo.toLowerCase() === "x"
                                    li.allergen.paleo Paleo
                                if egg && egg.toLowerCase() === "x"
                                    li.allergen.egg Egg Free
            .brand
                img(src='https://s3-us-west-2.amazonaws.com/zenbox-media/omg-logo-white.png')
