doctype html
html
    head
        title Oh My Green
        meta(name='HandheldFriendly', content='True')
        meta(name='MobileOptimized', content='320')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        style(type='text/css').
            @font-face {
            font-family: 'Brandon Text';
            src: url("http://zenbox.ohmygreen.com/fonts/BrandonText-Bold.otf") format('opentype');
            font-weight: 600;
            }
            @font-face {
            font-family: 'Brandon Text';
            src: url("http://zenbox.ohmygreen.com/fonts/BrandonText-Medium.otf") format('opentype');
            font-weight: 500;
            }
            @font-face {
            font-family: 'Brandon Text';
            src: url("http://zenbox.ohmygreen.com/fonts/BrandonText-Regular.otf") format('opentype');
            font-weight: 400;
            }
            @font-face {
            font-family: 'Brandon Text';
            src: url("http://zenbox.ohmygreen.com/fonts/BrandonText-Light.otf") format('opentype');
            font-weight: 300;
            }
            @font-face {
            font-family: 'Gotham Condensed';
            src: url("http://zenbox.ohmygreen.com/fonts/GothamCondensed-Regular.otf") format('opentype');
            font-weight: 400;
            }
            body {
            font-family: "Brandon Text", sans-serif;
            color: #222;
            margin: 0;
            font-size: 16px;
            }
            .wrapper, .wrapper-menu {
            position: relative;
            background-color: #0EAF27;
            width: 2060px;
            height: 1500px;
            margin: 0 auto;
            padding-right: 40px;
            }
            .header {
            display: table;
            width: 100%;
            background-image: linear-gradient(to right, rgb(0,0,0), rgba(0,0,0,0), rgba(0,0,0,0)), url("https://s3-us-west-2.amazonaws.com/zenbox-media/home-header@2x.jpg");
            background-image: -webkit-linear-gradient(to right, rgb(0,0,0), rgba(0,0,0,0), rgba(0,0,0,0)), url("https://s3-us-west-2.amazonaws.com/zenbox-media/home-header@2x.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 750px;
            }
            .header .title {
            display: table-cell;
            vertical-align: middle;
            padding: 0 220px 60px 80px;
            }
            .header .title span {
            display: block;
            color: #FFF;
            text-transform: uppercase;
            }
            .header .title .meal-type,
            .header .title .day {
            font-size: 2.75em;
            font-weight: 600;
            }
            .header .title .meal-name,
            .header .title .theme {
            font-size: 9.375em;
            font-weight: 300;
            line-height: 1.2;
            }
            .header .title .meal-name.sub {
            font-size: 5em;
            }
            .content {
            background-color: #fff;
            height: 750px;
            position: relative;
            z-index: 2;
            }
            .content:before {
            background: inherit;
            content: '';
            display: block;
            height: 50%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: -1;
            -webkit-backface-visibility: hidden;
            transform-origin: 0;
            transform: skewY(-5deg);
            -webkit-transform-origin: 0;
            -webkit-transform: skewY(-5deg);
            }
            .content .sections {
            margin-right: 200px;
            padding-top: 80px;
            padding-left: 80px;
            }
            .content .sections .section {
            display: inline-block;
            float: left;
            }
            .content .sections .section.left {
            width: 43%;
            }
            .content .sections .section.right {
            margin-left: 80px;
            padding-left: 80px;
            border-left: 1px solid #ccc;
            width: 47%;
            }
            .content .sections .section .title {
            font-size: 2.75em;
            text-transform: uppercase;
            font-weight: 600;
            }
            .content .sections .section p {
            font-size: 3em;
            font-weight: 300;
            }
            .content .sections .section ul {
            margin: 0;
            padding: 0;
            list-style: none;
            }
            .content .sections .section ul li {
            display: inline-block;
            background-color: #373739;
            border-bottom-width: 8px;
            border-bottom-style: solid;
            margin-right: 20px;
            margin-bottom: 20px;
            padding: 15px 0;
            text-transform: uppercase;
            min-width: 250px;
            text-align: center;
            font-size: 2em;
            font-weight: 500;
            }
            .nut {
            color: #CCCB9B;
            border-bottom-color: #CCCB9B;
            }
            .soy {
            color: #CDFD70;
            border-bottom-color: #CDFD70;
            }
            .vegan {
            color: #3CCA3E;
            border-bottom-color: #3CCA3E;
            }
            .dairy {
            color: #CCC;
            border-bottom-color: #CCC;
            }
            .wheat {
            color: #FC673D;
            border-bottom-color: #FC673D;
            }
            .gluten {
            color: #FFFD71;
            border-bottom-color: #FFFD71;
            }
            .paleo {
            color: #FC0D1B;
            border-bottom-color: #FC0D1B;
            }
            .egg {
            color: #FDBF2D;
            border-bottom-color: #FDBF2D;
            }
            .brand {
            background-color: #373739;
            position: absolute;
            top: 0;
            right: 30px;
            z-index: 3;
            height: 100%;
            width: 220px;
            }
            .brand img {
            position: absolute;
            bottom: 160px;
            left: 60px;
            width: 100px;
            }
            .wrapper-menu {
            width: 2255px;
            height: 3045px;
            padding-right: 40px;
            }
            .wrapper-menu .header {
            height: 795px;
            }
            .wrapper-menu .header .title {
            padding-left: 160px;
            padding-right: 200px;
            }
            .wrapper-menu .header .title .day {
            font-size: 5.5em;
            }
            .wrapper-menu .header .title .theme {
            font-size: 11em;
            }
            .wrapper-menu .header .title .description {
            font-weight: 400;
            font-size: 4.5em;
            text-transform: none;
            }
            .wrapper-menu .content {
            padding: 160px 280px 0 160px;
            padding-right: 200px;
            height: 2090px;
            }
            .wrapper-menu .entree,
            .wrapper-menu .veg-entree {
            margin-bottom: 80px;
            }
            .wrapper-menu .content .entree span,
            .wrapper-menu .content .veg-entree span {
            display: block;
            font-size: 5em;
            font-weight: 400;
            text-transform: uppercase;
            }
            .wrapper-menu .content span.head {
            font-size: 4em;
            font-weight: 500;
            color: #0EAF27;
            text-transform: uppercase;
            }
            .large {
            width: 2510px;
            height: 3300px;
            }
            .large .header {
            height: 1050px;
            }
            .large .header .title .day {
            font-size: 6em;
            }
            .large .header .title .theme {
            font-size: 12em;
            }
            .large .header .title .description {
            font-size: 4.5em;
            }
            .list-items {
            list-style: none;
            padding: 0;
            }
            .list-items li {
            margin-bottom: 80px;
            }
            .list-items li span {
            display: block;
            }
            .list-items li .top {
            font-size: 5em;
            font-weight: 400;
            text-transform: uppercase;
            }
            .list-items li .detail {
            font-size: 3em;
            font-style: italic;
            }
            .dressings {
            width: 1460px;
            height: 1050px;
            }
            .dressings .header,
            .dressings .content {
            height: 525px;
            }
            .dressings .header .meal-name {
            font-size: 6em;
            }
            .dressings .header .meal-name.sub {
            font-size: 2em;
            }
            .dressings .content .sections {
            margin-right: 80px;
            padding-left: 80px;
            }
            .dressings .content .sections .section.right {
            width: 46%;
            margin-left: 40px;
            border: none;
            }
            .dressings .content .sections .section .title {
            font-size: 2em;
            }
            .dressings .content .sections .section p {
            margin-top: 0;
            }
            .dressings .brand {
            right: 20px;
            width: 100px;
            }
            .dressings .brand img {
            width: 50px;
            left: 25px;
            bottom: 100px;
            }
            .wrapper-topping {
            background-color: #FFF;
            margin: 0 auto;
            width: 2400px;
            height: 2100px;
            }
            ul {
            margin: 0;
            padding: 0;
            list-style: none;
            }
            .card {
            display: inline-block;
            float: left;
            margin-right: 295px;
            width: 600px;
            height: 900px;
            background-color: #36B04F;
            }
            .card:nth-child(3n) {
            margin-right: 0;
            }
            .card:nth-child(n+4) {
            margin-top: 300px;
            }
            .card-content {
            background-color: #363738;
            height: 96%;
            }
            .card-content .list {
            display: table;
            width: 80%;
            height: 81.5%;
            margin: 0 auto;
            }
            .toppings {
            display: table-cell;
            margin: 0 auto;
            vertical-align: middle;
            }
            .topping {
            margin-bottom: 20px;
            text-align: center;
            }
            .topping span {
            display: block;
            font-weight: 300;
            }
            .topping .topping-name {
            color: #fff;
            font-size: 3.5em;
            text-transform: uppercase;
            }
            .topping .topping-ingredient {
            color: #827F7F;
            font-size: 2em;
            }
            .wrapper-topping .logo {
            width: 200px;
            margin: 0 auto;
            }
            .wrapper-topping .logo img {
            width: 100%;
            }
    body
        if template === "topping"
            .wrapper-topping
                if cards.length
                    ul.cards
                        each card in cards
                            if card.length
                                li.card
                                    .card-content
                                        .list
                                            ul.toppings
                                                each topping in card
                                                    li.topping
                                                        span.topping-name= topping.title

                                                        if topping.ingredients
                                                            span.topping-ingredient (#{topping.ingredients})

                                        .logo
                                            img(src="https://s3-us-west-2.amazonaws.com/zenbox-media/toppings_logo.png")

        else if template.indexOf("menu") !== -1
            .wrapper-menu(class={large: template === "menu-large"})
                .header(style={"background-image": "linear-gradient(to right, rgb(0,0,0), rgba(0,0,0,0), rgba(0,0,0,0)), url('" + image_url + "')"})
                    .title
                        if day
                            span.day #{day}
                        span.theme #{theme}
                        if line_2
                            span.theme #{line_2}
                        if description
                            span.description #{description}

                .content
                    if entrees.length
                        .entree
                            span.head Entree
                            each entree in entrees
                                span= entree.trim()

                    if veg_entrees.length            
                        .veg-entree
                            span.head Vegetarian Entree
                            each entree in veg_entrees
                                span= entree.trim()
                    
                    if sides.length
                        .sides
                            span.head Sides
                            
                            ul.list-items
                                each side in sides
                                    li
                                        span.top= side.title
                                        
                                        if side.detail
                                            span.detail= side.detail

                .brand
                    img(src='https://s3-us-west-2.amazonaws.com/zenbox-media/omg-logo-white.png')
        else
            .wrapper(class={dressings: template === "dressing"})
                .header(style={"background-image": "linear-gradient(to right, rgb(0,0,0), rgba(0,0,0,0), rgba(0,0,0,0)), url('" + image_url + "')"})
                    .title
                        if type
                            span.meal-type #{type}
                        span.meal-name #{title}
                        if line_2
                            span.meal-name #{line_2}
                        if subtitle
                            span.meal-name.sub #{subtitle}
                .content
                    .sections
                        .section.left
                            .ingredients
                                span.title Ingredients
                                p #{ingredients}
                        .section.right
                            .allergens
                                if template === "dish"
                                    span.title Allergens
                                if allergens
                                    p #{allergens}
                                ul
                                    if nut && nut.toLowerCase() === "x"
                                        li.allergen.nut Nut Free
                                    if wheat && wheat.toLowerCase() === "x"
                                        li.allergen.wheat Wheat Free
                                    if soy && soy.toLowerCase() === "x"
                                        li.allergen.soy Soy Free
                                    if vegan && vegan.toLowerCase() === "x"
                                        li.allergen.vegan Vegetarian
                                    if dairy && dairy.toLowerCase() === "x"
                                        li.allergen.dairy Dairy Free
                                    if gluten && gluten.toLowerCase() === "x"
                                        li.allergen.gluten Gluten Free
                                    if paleo && paleo.toLowerCase() === "x"
                                        li.allergen.paleo Paleo
                                    if egg && egg.toLowerCase() === "x"
                                        li.allergen.egg Egg Free
                .brand
                    img(src='https://s3-us-west-2.amazonaws.com/zenbox-media/omg-logo-white.png')
